<div class="container-lg">
  <div class="header-container text-center mb-3">
    <h1>My <span>Bookings</span></h1>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @bookings.each do |booking| %>
      <% if booking.planet.planet_img.attached? %>
        <div class="card-trip">
          <%= cl_image_tag booking.planet.planet_img.key %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h1><%= booking.planet.name %></h1>
            <br><p><%= booking.start_date.strftime("%b %d, %Y") %> to <%= booking.end_date.strftime("%b %d, %Y") %></p>
            <br><h2>
            <span class="<%= booking.status == 'Confirmed' ? 'confirmed' : 'unconfirmed' %>"><%= booking.status %></span>
            </h2>
            </div>
          </div>
          </a>
        <%= link_to "Add a new review", new_booking_review_path(booking) %>
        </div>
    <% end %>
  </div>




  <div class="header-container text-center my-5">
    <h1>My <span>Reviews</span></h1>
  </div>

  <div class="container">
  <div class="cards">
    <% @reviews.each do |review| %>
        <div class="card-trip">
        <div class="card-trip-infos">
          <div>
            <br><p><%= review.content %></p>
            </div>
          </div>
          </a>
        </div>
    <% end %>
  </div>


  <div class="text-center p-3 my-3">
    <%= link_to "Back", root_path, class: "btn btn-flat" %>
  </div>
</div>
