<div class="container mt-3 p-3 text-center border">
  <h1>Planet Index</h1>
</div>

<div class="planet_grid p-3 text-center border">
  <% @planets.each do |planet| %>
    <div class="mt-3">
      <p>
      Name: <%= planet.name %>
      <br>Star Cluster: <%= planet.details%>
      <br>Galaxy: <%= planet.location %>
      <br>Price per night: $<%= planet.price_per_night %>
      <br>Distance from you: <%= planet.distance %>
      </p>
    </div>
  <% end %>
</div>
