<div class="container mt-3 p-3 text-center">
  <h1>Show Me What You Got</h1>

  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat rounded-pill">
      <i class="fas fa-search"></i>
      Search
    </button>
  </div>
  <% end %>
</div>

<div class="planet_grid p-3 text-center border">
  <% @planets.each do |planet| %>
    <div class="border">
      <p>
      Name: <%= planet.name %>
      <br>Star Cluster: <%= planet.details%>
      <br>Galaxy: <%= planet.location %>
      <br>Price per night: $<%= planet.price_per_night %>
      <br>Distance from you: <%= planet.distance %>
      </p>
    </div>
  <% end %>

   <div class="text-center p-3">
    <%= link_to "Back to homepage", planets_path, class: "btn btn-flat rounded-pill px-4 py-2" %>
  </div>

</div>
