<div class="container mt-3 mb-4">
  <div class="card-trip-show">
    <%= image_tag @planet.planet_img %>
      <div class="row">
        <div class="col-6">
          <div class="container text-center p-5">
          <h1><%=@planet.name%></h1>
          <p>Star cluster: <%= @planet.details %></p>
          <p>Galaxy: <%=@planet.location%></p>
          <h2 class="card-trip-pricing-show">
            <br><span>$<%=@planet.price_per_night%></span> per night</h2>
          </div>
        </div>
        <div class="col-6" data-controller="insert-in-list">
          <div data-controller="toggle" class="mt-5">
            <div id="bookings" data-insert-in-list-target="items">
              <%= render "shared/form", planet: @planet, booking: @booking %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <hr>
        <div class="container">
          <div class="container">
          <div class="container">
            <div class="cards">
              <% @planet.reviews.each do |review| %>
                  <div class="card-trip">
                  <div class="card-trip-infos">
                    <div>
                      <% review.rating.times do %>
                        <i class="fa fa-star" style="color: #FFD43B;"></i>
                      <% end %>
                        <br><p><strong><%= review.content %></strong></p>
                      </div>
                    </div>
                    </a>
                  </div>
              <% end %>
            </div>

      </div>
    </div>
  </div>
    <div class="d-flex justify-content-center mb-4">
      <%=link_to "Back", planets_path, class: "btn btn-flat" %>

    </div>
  </div>
</div>
