<div class="container">
  <h1><%=@planet.name%></h1>
  <div class="card-trip">
    <img src="<%=@planet.img%>%" alt="">
    <div class="card-trip-infos">
      <h2>Visit <%=@planet.name%></h2>
      <p><%=@planet.description%></p>
    </div>
    <h2 class="card-trip-pricing"><%=@planet.price_per_night%></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" alt="change to planet owner avatar">
  </div>
</div>
