<div class="container mt-3 mb-4">
  <div class="card-trip-show">
    <%= image_tag @planet.planet_img %>
      <div class="row">
        <div class="col-6">
          <div class="container text-center p-5">
          <h1><%=@planet.name%></h1>
          <p>Star cluster: <%= @planet.details %></p>
          <p>Galaxy: <%=@planet.location%></p>
          <h2 class="card-trip-pricing-show">
            <br><span>$<%=@planet.price_per_night%></span> per night</h2>
          </div>
        </div>
        <div class="col-6" data-controller="insert-in-list">
          <div data-controller="toggle" class="mt-5">
            <%# <button data-action="click->toggle#fire" class="btn btn-outline-primary">Book this planet</button> %>
            <%# <div data-toggle-target="togglableElement" class="d-none"> %>
              <div id="bookings" data-insert-in-list-target="items">
                <%= render "shared/form", planet: @planet, booking: @booking %>
              </div>
            <%# </div> %>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="d-flex justify-content-center mb-4">
      <%=link_to "Back", planets_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
