<%=link_to "Back to Planets", planets_path %>
<div class="card-trip">
  <%= image_tag @planet.planet_img %>
  <div class="card-trip-infos">
    <div>
      <h1><%=@planet.name%></h1>
    </div>
    <h2 class="card-trip-pricing">$<%=@planet.price_per_night%> per night</h2>
  </div>
  <div class="card-trip-infos">
      <p><%=@planet.details %></p>
       <p>Star system - <%=@planet.location%></p>
  </div>
  <div data-controller="form" class="mt-5">
  <button class="btn btn-outline-primary">Book this planet</button>
  <%= render "form", planet: @planet %>
</div>
 <%# <%=link_to "Book this planet", new_planet_booking_path(@planet)%> %>
</div>
