<div class="container mb-4">
  <div class="card-trip-show">
    <%= image_tag @planet.planet_img %>
      <div class="row">
        <div class="col-6 border">
          <div class="container text-center p-5">
          <h1><%=@planet.name%></h1>
          <p>Star cluster: <%= @planet.details %></p>
          <p>Galaxy: <%=@planet.location%></p>
          <h2 class="card-trip-pricing-show">
            <span>$<%=@planet.price_per_night%></span> per night</h2>
          </div>
        </div>
        <div class="col-6 border">
          <h1>FORM GOES HERE</h1>
        </div>
      </div>
    </div>
  </div>


    <div class="d-flex justify-content-center mb-4">
      <%=link_to "Back to all planets", planets_path, class: "btn btn-flat rounded-pill px-4 py-2" %>
    </div>
  </div>
</div>
