<div class="navbar navbar-expand-sm navbar-light navbar-astral-escapes">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", alt: "AstralEscapes", width: 200 %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
<div class="banner">
  <div class="container">
    <h1>Astral Escapes</h1>
    <p>Change your life and visit a new planet</p>
  </div>
</div>
<div class="cards">
<div class="card-planet">
  <%= image_tag "planete1.jpeg" %>
  <div class="card-planet-infos">
    <h2>Venus</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
<div class="card-planet">
  <%= image_tag "planete2.jpeg" %>
  <div class="card-planet-infos">
    <h2>Neptune</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
<div class="card-planet">
  <%= image_tag "planete3.jpeg" %>
  <div class="card-planet-infos">
    <h2>Mars</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
</div>
