<div class="container">
  <div class="banner">
    <div class="home-container">
      <h1>Astral Escapes</h1>
      <p>Change your life - visit a new planet</p>
    </div>
  </div>
</div>

<div>
  <h1 class="mt-5 text-center">
    Guest favorites
  </h1>
</div>

<div class="container my-3">
  <div class="cards">
      <% @planets.each do |planet| %>
        <div class="card-trip">
          <a href="<%= planet_path(planet) %>">
          <%= cl_image_tag planet.planet_img.key %>
          <div class="d-flex card-trip-infos">
            <div>
              <div class="">
                <h1><%= planet.name %></h1>
                <h2></h2>
              </div>
              <p>
                Star Cluster - <%= planet.details%>
                <br>Galaxy - <%= planet.location %>
                <br><%= planet.distance %> away
                <br>Planet owner - <%= planet.user.first_name %> <%= planet.user.last_name %>
              </p>
              </div>
              <h2 class="card-trip-pricing"><span>$<%= planet.price_per_night %> </span>per night</h2>
              <%# <img src="" class="card-trip-user avatar-bordered" /> %>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>

<div class="text-center p-3 mb-3">
  <%= link_to "See all planets", planets_path, class: "btn btn-flat rounded-pill px-4 py-2" %>
</div>
